@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo.</h1>
    <h2>PARTE 4</h2>
    <p>Sobre <a href="https://docs.microsoft.com/aspnet/core">Web apps com ASP.NET Core</a>.</p>
</div>
